{% import "gridify/macros.html.jinja" as macros %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:vml="urn:schemas-microsoft-com:vml">
    <head>
    </head>
    <header>
    </header>
    <main role="main" class="container">
    {% block content %}
    {% endblock %}
    </main>
    {% block scripts %}
    {% endblock %}
    {% block tail %}
    {% endblock %}
</html>